<div class="center hero-unit">
  <h1>Home Page</h1>

  <h2>
    This is the home page for the Nimes sample application.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("scottie.gif", alt: "Scottie"), 'http://rubyonrails.org/' %>
